@model JobTest.Models.Order

@{
    ViewData["Title"] = "Удалить заказ?";
}

<h2>Вы точно хотите удалить?*</h2>
<div>
    <h5><a asp-action="Details"  asp-route-id="@Model.Id">Вернуться назад</a></h5>
    <h3>Заказ <span class="badge badge-secondary">@Html.DisplayFor(model => model.Number)</span></h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Provider.Id)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Provider.Id)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Provider.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Provider.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Подтвердить" class="btn btn-danger" /> 
    </form>
</div>
