@model JobTest.Models.Order

@{
    ViewData["Title"] = "Удалить заказ?";
}

<h1>Удалить заказ</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Order" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item"><a asp-controller="OrderItem" asp-action="Index" asp-route-id="@Model.Id">Информация о заказе</a></li>
        <li class="breadcrumb-item active" aria-current="page">Удалить заказ</li>
    </ol>
</nav>

<h3>Вы точно хотите удалить заказ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Provider.Id)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Provider.Id)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Provider.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Provider.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Подтвердить" class="btn btn-danger" />
    </form>
</div>
