@model IEnumerable<JobTest.Models.Order>

@{
    ViewData["Title"] = "Главна страница";
}

<form method="get">
    <div class="form-inline form-group">
        <div>
            <label class="control-label">Поставщик: </label>
            <select name="Provider" class="form-control" asp-items="ViewBag.ProviderId">
                <option value="0">Все поставщики</option>
            </select>
        </div>
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>

<p>
    <a asp-action="Create">Добавить заказ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="cursor:pointer;" onclick="window.location.href='/Order/Details/@item.Id'; return false">
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.Name)
            </td>
        </tr>
}
    </tbody>
</table>
